.transaction_history{
    width: 400px;
    border: solid 1px black;
    text-align: center;
    margin-left: 20px;
    margin-top: 50px;
}
.transactions_titles{
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px;
    margin: 0;
    background-color: antiquewhite;
}
.transactions_items{
    padding: 5px;
    background-color: aliceblue;
}